/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Monserrat;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

main {
  margin-top: 5.5rem;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilo para logo whatsapp en todas las paginas */
.stickyContainer {
  position: fixed;
  bottom: 40px;
  right: 10px;
  padding: 5px;
  z-index: 999;
  border-radius: 50%;
  border-color: black;
}

.sticky {
  position: sticky;
  top: 0;
  color: #25d366;
  font-size: 3rem;
  padding: 5px;
}

.sticky:hover {
  background-color: #076f63;
  border-radius: 50%;
  padding: 8px;
}

/* estilos header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(91, 180, 209);
  z-index: 999;
}

nav {
  float: right;
  margin: 2rem 1rem 0 0;
}

.navlink {
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.navlink:hover {
  background-color: rgba(16, 85, 233, 0.527);
  padding: 0.5rem 0.5rem;
}

.earth {
  display: inline-block;
  width: auto;
  margin: 0.2rem 0 0 0.2rem;
  padding: 0.2rem 0 0 0.5rem;
}

.earthPrincipal {
  display: inline-block;
  width: auto;
  margin: 0.2rem 0 0 0.2rem;
  padding: 0.2rem 0 0 0.5rem;
}
.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0.3rem;
  float: left;
}

.logo:hover {
  background-color: rgba(16, 85, 233, 0.527);
  border-radius: 50%;
}

.logoPrincipal {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0.3rem;
}

.nombrePaginas {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  float: left;
  top: 2.5rem;
  left: 0rem;
  position: relative;
}

/* Estilos footer */
footer {
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: rgb(112, 183, 216);
  position: fixed;
}
.footerLink {
  font-size: 2rem;
}

/* Estilos index */
.tituloPaginas {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#frontImages {
  display: block;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60%;
}

.portadaSlide {
  width: auto;
  text-align: center;
  position: absolute;
}

.imagenPortada {
  height: 65vh;
  width: 60vw;
}

#slide1 {
  opacity: 1;
  animation: transicion1 6s infinite;
}
#slide2 {
  opacity: 0;
  animation: transicion2 6s infinite;
}

#slide3 {
  opacity: 0;
  animation: transicion3 6s infinite;
}

@keyframes transicion1 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
}

@keyframes transicion2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0;
  }
}

@keyframes transicion3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
}

/* Estilos contacto */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  /* max-width: 400px; */
  margin: 0 auto;
  background-color: rgba(74, 69, 69, 0.234);
}
label{
margin: 1rem 0 0 1rem;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  margin: 0 1rem;
}

.btnForm {
  margin: 0 1rem 1rem 1rem;
  width: 30%;
  background-color: rgba(112, 98, 207, 0.518);
  border: 1px rgba(111, 0, 128, 0.541) solid;
  text-transform: uppercase;
}

/*Estilos reseñas*/
.flexResena {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto auto 3rem auto;
  width: 60%;
}

.resena {
  background-color: rgba(216, 135, 162, 0.678);
  margin: 0.5rem;
  padding: 0.5rem;
  width: auto;
  height: auto;
  text-align: center;
  border: 2px solid rgba(200, 38, 92, 0.678);
}

/* Estilos productos */
.divProductos {
  display: flex;
  justify-content: center;
}

#contenedorProductos {
  margin: 1rem 1rem 3rem 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.tarjetaProducto {
  margin: auto;
  margin-bottom: 1rem;
  background-color: rgba(220, 230, 173, 0.699);
  width: 90%;
  border: 1px rgba(108, 199, 108, 0.815) solid;
  border-radius: 15%;
}

.tituloProducto {
  padding: 0.5rem 0 0 0;
}

.imgProducto {
  width: 8rem;
  height: 8rem;
}

.btnAgregar {
  margin-bottom: 2px;
  background-color: rgba(0, 128, 0, 0.253);
  border: 1px rgba(0, 128, 0, 0.541) solid;
}

#contadorCarrito {
  background-color: red;
  border-radius: 40%;
  padding: 0.5rem;
}

/*Estilos carrito*/
#contenedorCarrito {
  margin: 1rem;
}

.productoCarrito {
  background-color: rgba(222, 102, 249, 0.223);
  width:20%;
  height: auto;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid rgba(127, 23, 150, 0.223);;
}

.btnEliminar {
  height: 70%;
  margin: 10px;
  background-color: rgba(188, 47, 219, 0.223);
  border: 1px solid rgba(190, 20, 228, 0.223);
}
.btnEliminar {
  height: 70%;
  margin: 10px;
  background-color: rgba(188, 47, 219, 0.223);
  border: 1px solid rgba(190, 20, 228, 0.223);
}

#accionesCarrito {
  text-align: center;
  margin: 1rem 1rem 3rem 1rem;
}
.btnVaciar {
  margin: 0.5rem 3rem;
  background-color: rgba(67, 171, 206, 0.5);
  border: 1px solid rgba(41, 173, 218, 0.5);
}

#contadorProductos {
  background-color: red;
  border-radius: 40%;
  padding: 0.5rem;
}

.mensajeCarrito{
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin:3rem;
 width: auto;
  text-align: center;
 
}
/* QUERIES */
@media (max-width: 600px) {
  .tituloPaginas {
    font-size: 2rem;
  }

  #contenedorProductos {
    flex-direction: column;
    grid-template-columns: auto auto;
  }
}
